h2 {
    cursor: pointer;
}
#hide1 {
    display: none;
}
#hide2 {
    display: none;
}
#hide3 {
    display: none;
}
#foot {
    background-image: url(../images/h_img.jpg);
}
/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.services {
    background: url(/images/s_image.jpg);

}

.home{
    text-align: center;
    padding: 90px;
}

pre {
    font-size: small;
}
p {
    text-align: center;
}
#contUs {
    text-align: center;
    color: white;
}
.contactUs {
    background: url(../images/c_image.jpg);
    padding: 100px;
    text-align: center;
}
.input {
    background: transparent;
    color: white;
}
#img {
    position: relative; 
    display: inline;
} 

#images {
    padding-left: 520px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#form {
    color: white;
}

.portfolio {
    padding: 75px;
}
h1,h2 {
    text-align: center;
}
#desDevProd {
    padding: 75px;
}
.aboutUs {
    padding: 75px;
}
#services {
    padding: 75px;
    color: white;
}
.lgo {
    padding-bottom: 60px;
    padding-top: 30px;
}
#mouse {
    position: relative;
    top: 45px;
}
::-webkit-input-placeholder {
    color: white;
    padding: 12px;
}
/* #img1Show {
    padding: 40px;
}
.imagePad {
    padding-left: 20px;
    padding-right: 20px;
} */
#designShow, #devShow, #productShow {
    padding-left: 180px;
}