h2 {
    cursor: pointer;
}
#hide1 {
    display: none;
}
#hide2 {
    display: none;
}
#hide3 {
    display: none;
}
#foot {
    background-image: url(../images/h_img.jpg);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.services {
    background: url(/images/s_image.jpg);

}

.home{
    text-align: center;
    padding: 90px;
}

pre {
    font-size: small;
}
p {
    text-align: center;
}
#contUs {
    text-align: center;
    color: white;
}
.contactUs {
    background: url(../images/c_image.jpg);
    padding: 100px;
    text-align: center;
}